<footer>
  <div class="container-fluid pt-5">
    <div>
      <h4>Send me email</h4>
      <div class="form-floating mb-3">ozer.ramazan@outlook.com.tr</div>
    </div>
    <div class="about-us">
      <h4>About Us</h4>
      <div>Turkey / Istanbul</div>
      <div>444 8 44</div>
    </div>
    <div class="links">
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/in/ramazan-%C3%B6zer-6a8688235/"
            target="_blank"
            ><i class="fa-brands fa-facebook"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/ramazan-%C3%B6zer-6a8688235/"
            target="_blank"
            ><i class="fa-brands fa-youtube"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/ramazan-%C3%B6zer-6a8688235/"
            target="_blank"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/ramazan-%C3%B6zer-6a8688235/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
