<div class="home container-fluid" *ngIf="!loading">
  <section class="home-1">
    <img id="img" class="img-fluid" src="../../assets/img/home-3.jpg" alt="" />
    <div class="home-body">
      <article class="">
        <h1 class="mt-1 border-bottom">
          What is this coffe?
          <span class="img-h"
            ><img src="../../assets/img/funny.png" alt=""
          /></span>
        </h1>

        <p class="p-text text-muted">
          Coffee is a popular beverage that is enjoyed by millions of people
          around the world. It is made from the roasted seeds of the coffee
          plant, which are known as coffee beans. The beans are ground and
          brewed to create a rich, flavorful drink that is often enjoyed in the
          morning to help people wake up and start their day. Coffee is believed
          to have originated in Ethiopia, where it was discovered by a goat
          herder who noticed that his goats became more energetic after eating
          the berries from a certain type of tree. The berries were then roasted
          and brewed to create the first cups of coffee. Today, coffee is grown
          in many countries across the world, including Brazil, Colombia, and
          Indonesia. Each country has its own unique style of roasting and
          brewing coffee, which gives each cup of coffee its own distinct flavor
          and aroma. There are many different types of coffee, including
          espresso, cappuccino, and latte. Espresso is a strong, concentrated
          coffee that is made by forcing hot water through finely ground coffee
          beans. Cappuccino is a type of coffee that is made with espresso and
          steamed milk, while latte is a type of coffee that is made with
          espresso and steamed milk foam. In addition to being enjoyed as a hot
          beverage, coffee can also be used in a variety of other ways. For
          example, it can be added to desserts, such as ice cream and
          cheesecake, to give them a rich, coffee flavor. It can also be used to
          make cold beverages, such as iced coffee and coffee milkshakes.
          Overall, coffee is a beloved beverage that is enjoyed by people all
          over the world for its rich flavor and energizing effects. Whether you
          enjoy a cup of coffee in the morning to start your day, or as an
          afternoon pick-me-up, there is no denying the appeal of this tasty
          drink.
        </p>
      </article>
    </div>
  </section>
  <section class="home-2 home">
    <img id="img" class="img-fluid" src="../../assets/img/home-2.jpg" alt="" />
    <div class="home-body">
      <article class="">
        <h1 class="mt-1 border-bottom">What are we doing?</h1>

        <p class="p-text text-muted">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum corrupti
          quos ipsa. Veniam, iusto reiciendis? Quidem maxime illum consequuntur
          doloribus rerum est dolorem sunt laudantium nulla numquam odit sequi
          illo, cumque placeat inventore, optio error. Quae, velit! Dignissimos,
          libero necessitatibus eveniet beatae nihil corporis perferendis!
        </p>
      </article>
    </div>
  </section>
  <section class="home-3 home">
    <img
      id="img"
      class="img-fluid"
      src="../../assets/img/img-category.webp"
      alt=""
    />
    <div class="home-body">
      <article class="">
        <h1 class="mt-1 border-bottom">Why us?</h1>

        <p class="p-text text-muted">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus
          tempore, ratione quis voluptates architecto, fugit ipsa in repellat,
          incidunt provident voluptate quod debitis amet! Mollitia, illo? Neque
          ipsum, dolorum inventore distinctio minus architecto unde dolor
          explicabo vero voluptas. Illum, dolor delectus! Totam ea soluta
          praesentium atque velit molestiae debitis harum vel, quae, odio
          dignissimos quasi, nobis consequatur rem quaerat maiores aut.
          Quibusdam consequuntur a maxime odio facilis provident, delectus
          necessitatibus nihil maiores iure doloremque dolores laudantium
          dolorem aut eius esse ipsa, libero corporis ducimus, quae ad
          repellendus. Natus hic, deserunt sit placeat molestias velit modi
          officiis omnis ullam cumque! Nostrum laudantium aliquam, expedita esse
          ducimus tempora quasi voluptatibus blanditiis porro enim tenetur
          impedit illum. Quo unde officiis hic ad nam labore blanditiis eos a
          alias doloremque fugit soluta quod, cumque ipsum, pariatur accusamus
          commodi, dolorum aut illo? Suscipit alias molestiae assumenda amet
          quod nemo omnis repellendus. Dolore asperiores quas quis velit placeat
          soluta aperiam?
        </p>
      </article>
    </div>
  </section>
  <img id="foot-img" class="" src="../../assets/img/funny-2.png" alt="" />
</div>
<div class="container-fluid" *ngIf="loading">
  <div class="load fa-3x" *ngIf="loading">
    <i
      class="fa-solid fa-cog fa-spin"
      style="--fa-animation-direction: reverse"
    ></i>
    <i class="fa-solid fa-cog fa-spin"></i>
    <i
      class="fa-solid fa-cog fa-spin"
      style="--fa-animation-direction: reverse"
    ></i>
  </div>
</div>
